<ng-container *ngIf="control.invalid && control.touched">
  <small *ngIf="control.errors.required" class="form-text text-danger">This field is
    required</small>
  <small *ngIf="control.errors.minlength" class="form-text text-danger">The minimum length
    is {{control.errors.minlength.requiredLength}}</small>
  <small *ngIf="control.errors.min" class="form-text text-danger">The minimum value
    is {{control.errors.min.min}}</small>
  <small *ngIf="control.errors.max" class="form-text text-danger">The maximum value
    is {{control.errors.max.max}}</small>
</ng-container>
