<form *ngIf="formGroup"
      [formGroup]="formGroup"
      (ngSubmit)="onSubmit()">

  <div class="form-group">
    <label for="title">Title <span class="text-danger">*</span></label>
    <input formControlName="title"
           type="text"
           class="form-control"
           id="title"
           placeholder="Enter title">
    <lq-error-label [control]="formGroup.get('title')"></lq-error-label>
  </div>

  <div class="form-group">
    <label for="subtitle">Subtitle <span class="text-danger">*</span></label>
    <input formControlName="subtitle"
           type="text"
           class="form-control"
           id="subtitle"
           placeholder="Enter subtitle">
    <lq-error-label [control]="formGroup.get('subtitle')"></lq-error-label>
  </div>

  <div class="form-group">
    <label for="category">Category <span class="text-danger">*</span></label>
    <select formControlName="categoryId" class="form-control" id="category">
      <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
    </select>
    <lq-error-label [control]="formGroup.get('categoryId')"></lq-error-label>
  </div>

  <div class="form-group">
    <label for="language">Language <span class="text-danger">*</span></label>
    <select formControlName="language" class="form-control" id="language">
      <option>English</option>
      <option>Bulgarian</option>
      <option>Russian</option>
    </select>
    <lq-error-label [control]="formGroup.get('language')"></lq-error-label>
  </div>

  <div class="form-group">
    <label for="price">Price <span class="text-danger">*</span></label>
    <input formControlName="price"
           type="number"
           class="form-control"
           id="price"
           placeholder="Enter price">
    <lq-error-label [control]="formGroup.get('price')"></lq-error-label>
  </div>

  <div class="form-group">
    <label for="discount">Discount (%)</label>
    <input formControlName="discount"
           type="number"
           class="form-control"
           id="discount"
           placeholder="Enter discount">
    <lq-error-label [control]="formGroup.get('discount')"></lq-error-label>
  </div>

  <div class="form-group">
    <label for="poster">Poster URL</label>
    <input formControlName="posterImgUrl"
           type="text"
           class="form-control"
           id="poster"
           placeholder="Enter poster URL">
    <lq-error-label [control]="formGroup.get('posterImgUrl')"></lq-error-label>
  </div>

  <div class="form-group">
    <label for="publish-at">Publish at <span class="text-danger">*</span></label>
    <input formControlName="publishAt"
           type="text"
           bsDatepicker
           [bsConfig]="{ dateInputFormat: 'MMMM Do YYYY', isAnimated: true }"
           class="form-control"
           id="publish-at"
           placeholder="Enter publish date">
    <lq-error-label [control]="formGroup.get('publishAt')"></lq-error-label>
  </div>

  <div class="form-check mb-2">
    <input formControlName="isCertificateIncluded"
           type="checkbox"
           class="form-check-input"
           id="certificate">
    <label class="form-check-label" for="certificate">
      Include certificate
    </label>
    <lq-error-label [control]="formGroup.get('isCertificateIncluded')"></lq-error-label>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>

</form>
