<div class="d-flex justify-content-around">
  <div>
    <lq-certificated-courses-report></lq-certificated-courses-report>
  </div>

  <div>
    <lq-courses-by-categories-report></lq-courses-by-categories-report>
  </div>
</div>

