<div class="d-flex justify-content-between mt-2">
  <h3>Courses</h3>
  <div>
    <a routerLink="../create" class="btn btn-primary">Create</a>
  </div>
</div>
<div>
  <table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Publish at</th>
      <th>Created</th>
      <th>Last Updated</th>
      <th>Category</th>
      <th>Language</th>
      <th>Price</th>
      <th>Discount</th>
      <th>Certified</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let course of courses">
      <td>{{course.id}}</td>
      <td>
        <div class="course-summary">
          <div class="course-image-container">
            <img [src]="course.posterImgUrl" [alt]="course.title">
          </div>
          <div class="course-titles-container">
            <a class="course-title" [routerLink]="['/', 'courses', 'details', course.id]">{{course.title}}</a>
            <small class="course-subtitle">{{course.subtitle}}</small>
          </div>
        </div>
      </td>
      <td>{{course.publishAt | date}}</td>
      <td>{{course.created | date}}</td>
      <td>{{course.lastUpdated | date}}</td>
      <td>{{course.category.name}}</td>
      <td>{{course.language}}</td>
      <td>{{course.price}}</td>
      <td>{{course.discount}}%</td>
      <td>
        <span *ngIf="course.isCertificateIncluded; else certificateNotIncluded">Yes</span>
        <ng-template #certificateNotIncluded>
          <span>-</span>
        </ng-template>
      </td>
      <td>
        <a class="btn btn-sm btn-outline-primary"
           [routerLink]="['/', 'courses', 'edit', course.id]">Edit</a>
        <button (click)="openDeleteDialog(deleteDialogTemplate, course)"
                class="btn btn-sm btn-outline-danger ml-2">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<ng-template #deleteDialogTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Delete Course?</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete course "{{selectedCourse.title}}"?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="modalRef.hide()">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="deleteCourse()">Delete</button>
  </div>
</ng-template>
